<div class="app-container" fxLayout="column">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon (click)="toggleSideBarState()">date_range</mat-icon>
    </button>

    <span>Tide Walker</span>

  </mat-toolbar>


  <div fxFlex fxLayout="column">
    <mat-sidenav-container fxFlex [hasBackdrop]="false">
      <mat-sidenav mode="side" #sidenav [opened]="sideBarState$ | async">
        <mat-nav-list style="text-align: center;">
          <app-sidebar></app-sidebar>
          <img  src="assets/icons/footprint1.png" alt="pin" width="200" />
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content fxLayout="column">
        <div fxFlex class="main" fxLayout="row">
          <div class="map-container" fxFlex>
            <app-map></app-map>
          </div>
        </div>

        <app-top-bar></app-top-bar>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>