<h1>Simple Google Maps Application</h1>


<div class="app-container">
  <div class="left">
    <h3>Should print feature names here</h3>
    <div class="farm" *ngFor="let feature of features">   
      {{feature.name}}
    </div>
  
  </div>
  <div class="right">
    <agm-map fxFlex (mapReady)="onMapReady($event)"></agm-map>
  </div>
</div>




<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->