<div class="app-container" fxLayout="column">
  
  <!-- <div class="toolbar">
    <h1>Simple Google Maps Application</h1>
  </div> -->

  <mat-toolbar>
    <span>Simple Mapbox Application</span>
    <span fxFlex></span>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main" fxLayout="row" fxFlex>
    
    <div class="sidebar">
      <app-sidebar [farms]="farms"></app-sidebar> 
    </div> 

    <div class="map" fxFlex>
      <app-map></app-map> 
    </div>

  </div>

</div>
